:root {
    --negre: #222831;
    --blau: #30475E;
    --taronja: #FF7000;
    --blanc: #ECECEC;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.botoTaronja {
    background-color: var(--taronja);
}

.botoBlau {
background-color: var(--blau);
}

.botoRoig{
	background-color: red;
}

.padding-zero {
	padding: 0;
}

.text-blanc {
	color: white;
}

.centrat {
	text-align: center;
}

input {
    padding: .5em 0;
    border: 1px solid var(--negre);
    border-radius: 1em;
}

button {
    padding: 1em 1.5em;
    border: 0;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px solid var(--negre);
}

tr:nth-child(even) {
    background-color: #ECECEC;
}

th, 
td {
    padding: 1em;
}

thead {
    background-color: var(--blau);
}